OneBook/*.iml
OneBook/.gradle
OneBook/local.properties
OneBook/.idea/workspace.xml
OneBook/.idea/libraries
.DS_Store
OneBook/captures
OneBook/.externalNativeBuild
OneBook/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
OneBook/.idea/workspace.xml
OneBook/app/build
