<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.c301w19t14.onebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SearchingActivity"
            android:parentActivityName=".BorrowingActivity"
            android:label="@string/title_activity_searching_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".BorrowingActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_borrowing_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".LendingActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_lending_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
